@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root {
  --primary: #190044;
  --primary-deep: #0D002B;
  --accent: #E8345A;
  --yellow: #FFB800;
  --background: #F8F9FD;
  --white: #FFFFFF;
  --text-primary: #190044;
  --text-secondary: #9FA2B4;
  --border: #E8E8F0;
}

html, body {
  background-color: var(--background);
  color: var(--text-primary);
  height: 100%;
}

::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: var(--text-secondary); border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: var(--primary); }

.sidebar-transition {
  transition: transform 0.3s ease-in-out;
}